.nav-mobile {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    position: absolute;
    z-index: 100;
    background-color: var(--color-header);
    color: var(--color-white);
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s, visibility 0.8s;

}

.visible {
    visibility: visible;
    opacity: 1;
}