@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-white: #f0eeed;
    --color-header: #00A3E1;
    --color-hover: #925ca1;
    --color-red: #C92C6D;
    --color-black: #383330;
    --color-light-grey: #b8d9e7;
    background: linear-gradient(90deg, rgb(207, 236, 248) 0%, #eccdf5 100%, rgb(55, 167, 211) 100%);
}

.container {
    position: relative;
    margin: 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
    color: var(--color-black);
    height: calc(100vh - 3rem);
    overflow: hidden;
    box-shadow: -1px 10px 30px 1px var(--color-black);
}

.page-name,
.page-content {
    padding: 1rem;
    animation: fadeIn;
    animation-duration: 0.5s;
}

@media screen and (min-width: 765px) {
    .container {
        width: 100%;
        margin: 1.5rem 1.5rem 1.5rem 3rem;
    }
}

.btn {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    color: var(--color-white);
    background-color: transparent;
}

.btn:focus {
    outline: none;
    background-color: transparent;
}